.hotel-card {
    margin-top: 30px;
    background-color: #1792cb0f;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  width: 340px;
  height: 400px;
}

.hotel-card:hover {
  transform: translateY(-22px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.12);
}

.image {
  width: 100%;
  padding: 10px;
  border-radius: 19px;
  object-fit: cover;
}

.hotel-card__text {
  padding: 16px;
}

.hotel-card__text h3 {
  font-size: 24px;
  margin-bottom: 8px;
}

.hotel-card__text p {
  font-size: 14px;
  line-height: 1.6;
  color: #555555;
  margin-bottom: 12px;
}

.hotel__footer {
  color: #1792cb;
  text-align: right;
  padding-right: 19px;
  font-weight: bold;
  width: 100%;
}