.searchbox{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.searchbox input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 45px;
  width: 500px;
}

.searchbox button {
  padding: 0;
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;
  outline: none;
}

.searchbox button:focus {
  outline: none;
}

.searchbox button:hover {
  opacity: 0.8;
}

.searchbox button img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}
