.Imageshowcase {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.Imageshowcase img {
  width: 900px;
  height: auto;
  border-radius: 19px;
  justify-content: flex-start;
  z-index: 10;
  display: block;
}

.Imageshowcase-text {
    background-color: #1792cb;
    border-radius: 19px;
    width: 400px;
}

.Imageshowcase-text h2 {
    color: #ffffff;
    font-size: 99px;
    margin-top: 70px;
    margin-left: 40px;
}

.Imageshowcase-text p {
    margin-left: 60px;
    margin-top: 10px;
    font-size: 26px;
    color: #ffffff;
}
