
.hero h1 {
  font-size: 56px;
  font-weight: 500;
  line-height: 1.2;
}



.hero p {
  text-align: center;
  max-width: 720px;
  margin-top: 24px;
  font-size: 14px;
  color: #333;
}
#packages,
#hotels,
#reach,
#footer {
  scroll-margin-top: 90px;
}